:local(.signinContainer) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local(.formContent) {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  margin: 20px;
}

:local(.header) {
  height: 50px;
  background: #009675;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1em;
}

:local(.spinner) {
  display: flex;
  justify-content: center;
  margin: 20px 10px;
}

:local(.error) {
  display: flex;
  justify-content: center;
  margin: 10px 10px 20px;
  color: #ff5961;
}
